* {
  margin:0px 0px;
  padding:0px 0px;
  font-family: 'Helvetica Neue','Helvetica','Arial',sans-serif;
}

/*ヘッダー*/
#header {
  width:100%;
  height:200px;
}

/*メインコンテンツ*/
#main {
  width:100%;
  height:650px;
}

.errors{
  text-align: center;
}

.errors ul{
  list-style: none;
}

.signUp {
  padding-top:50px;
  padding-bottom:20px;
  font-size:40px;
  text-align: center;
  border-bottom:  solid 1px;
}

#member{
  width: 300px;
  margin: 0 auto;
}

#member li{
  list-style: none;
}

.field{
  margin-top:25px;
  margin-bottom:25px;
}

.item{
  margin-right: 10px;
  width:150px;
  float: left;
}

.actions{
  display: inline-block;
  margin: 0 auto;
}
