<%= stylesheet_link_tag "index.css" %>
    <div id="main">
        <div class="signUp">登録が完了しました。</div>
        <table class="member">
            <tr>
                <td class="actions"><%= link_to 'ホーム', article_top_path %></td>
                <td class="actions"><%= link_to 'ログイン', member_input_login_path %></td>
            </tr>
        </table>
    </div>
        