<%= stylesheet_link_tag "index/member_input.css" %>
  <div id="main">
    <div class="signUp">登録が完了しました。</div>
      <ul id="member">
        <li class="field">
          <%= link_to 'ホーム', article_top_path, :class=>"actions" %>
          <%= link_to 'ログイン', session_login_path, :class=>"actions" %>
        </li>
      </ul>
    </div>
        